<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Test</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="counter">
        {{fruit}}: {{counter}}
        <template v-if="counter>0">
        <h2 v-if="counter>0">Counter is positive</h2>
        <h2 v-else-if="counter<0">Counter is negative</h2>
        <h2 v-else>Counter is zero</h2>
        </template>
        
        <h2>Output for Add method: {{add(10,30,50)}}</h2>
        <h2>Output for Multiply 10 times 5 is: {{multiply(10)}}</h2>
        <ul>
        <li v-for="(name,idx) in names" v-bind:key="name">
            {{idx}} {{name}}
        </li>
        </ul>
        
        <h2>{{myName}}</h2>
        <button id="changeMyName" v-on:click="changeMyName('Batman', $event)" v-on:mouseover="changeMyName('Superman', $event)">Change Name</button>
        
        
        <h2>{{myCount}}</h2>
        <button id="increment" v-on:click="increment(5)">Increment 5</button>
        <button id="decrement" v-on:click="decrement(5)">Decrement 5</button>
        
        <br><br><br>
        <div id="myForm">
        <div>
           <pre>
           {{JSON.stringify(formValues, null, 2)}}
           </pre>
        </div>
           <form>
             <div>
             
                <label for="name">Name</label>
                <input type="text" id="name" v-model="formValues.name">
             </div>
             
                          <div>
               <label for="profile">Profile Summary</label>
               <textarea id="profile" v-model="formValues.profileSummary"> </textarea>
             </div>
             
           </form>
           
        </div>
        
        
    </div>

    <script>
      const Counter = {
          data(){
              return {
                  counter:1,
                  fruit:"Apple",
                  names:["Bruce","Clark","Diana"],
                  baseMultiplier:5,
                  myName:"Sashank",
                  myCount:0,
                  formValues:{
                    name:"",
                    profileSummary:""
                  }
              };
          },
          methods:{
            changeMyName(iName, event){
               console.log(event);
               this.myName = iName
            },
            add(a,b,c){
               return a+b+c;
            },
            multiply(num){
              return num*this.baseMultiplier
            },
            increment(num){
              this.myCount += num;
            },
            decrement(num){
              this.myCount  -= num;
            }
          }
      }

    Vue.createApp(Counter).mount('#counter');

    </script>
</body>
</html>
